.menuBtn {
  background-image: linear-gradient(to top, #3D34C9, #4790F5);
  border: clamp(2px, 0.3vw, 4px) solid #A9D6F6;
  border-radius: clamp(18px, 0.5vw, 24px);
  color: white;
  cursor: pointer;
  transition: transform 200ms;
  background: linear-gradient(180deg, #3b82f6, #1e3a8a);
  border: clamp(2px, 0.3vw, 3px) solid #ABD5F5;
  box-shadow: 0px clamp(3px, 0.7vh, 5px) 0px #1e3a8a;
  text-shadow: 0px clamp(1.5px, 0.3vh, 2.5px) 0px #282844;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(10px, 2vh, 15px);
  margin-bottom: clamp(3px, 1vh, 5px);
  transition: all 0.2s ease-in-out;
}

.menuBtn:hover {
  transform: translateY(- clamp(2px, 0.5vh, 3px));
  box-shadow: 0px clamp(5px, 1vh, 8px) 0px #1e3a8a;
}

.menuBtn:active {
  transform: translateY(clamp(2px, 0.5vh, 4px));
  box-shadow: 0px clamp(1px, 0.5vh, 2px) 0px #1e3a8a;
}

.menuBtn img {
  /* height: clamp(24px, 6vh, 60px); */
  /* width: auto; */
  width: clamp(16px, 6vh, 60px);
  height: auto;
}
