#optContainer {
  display: grid;
  grid-template-areas: ". . ." ". opt ." ". . .";
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr 6fr 1fr;
  background-image: url(../../assets/backgrounds/bgMenu.svg);
  background-position: center center;
  background-size: cover;
}

div#optBox {
  grid-area: opt;
  background-color: #0007;
  border-radius: 1em;
  min-width: 300px;
  font-size: 20px;
  color: white;
  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

div#optBox > button {
  align-self: flex-start;
  padding: .5em 1em;
}

div#optBox > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: scroll;
}

div#optBox > div::-webkit-scrollbar {
  display: none;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.field input[type="range"] {
  flex: 3;
  accent-color: rgb(0, 106, 255);
  width: 75%;
}

div#optBox > div > div:not(.field) {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  align-self: center;
  gap: 1em;
  margin-top: auto;
}

div#optBox > div > div > .menuBtn {
  flex: 1;
  flex-basis: 45%;
  height: 55px;
  border-radius: .5em;
  font-size: 1.2em;
}