#menu {
  display: grid;
  grid-template-areas: ". . ." ". buttons ." ". . .";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(../../assets/bgMenu.svg);
  background-position: center center;
  background-size: cover;
}

#menu > .buttons {
  grid-area: buttons;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "play play play" ". . .";
  gap: 1em;
  min-width: 300px;
}

#menu > .buttons > * {
  flex: 1;
}

#menu > .buttons > *:nth-child(1) {
  grid-area: play;
}