body {
  margin: 0;
  padding: 0;
}

#menu {
  display: grid;
  grid-template-areas: 
    ". . ."
    ". logo ."
    ". . ."
    ". buttons ."
    ". . .";
  grid-template-rows: 4fr auto 2fr auto 6fr;
  grid-template-columns: 1fr minmax(17vw, 22vw) 1fr;
  gap: clamp(0.5em, 2vw, 2em);
  padding: 2vh;
}

#menu > .buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  gap: clamp(0.5em, 1.5vw, 1.5em);
}

#menu > .buttons > .bottom {
  display: flex;
  justify-content: space-between;
  gap: 0.5vw
}

#menu > .buttons > .menuBtn {
  /* height: clamp(80px, 12vh, 140px); */
  /* width: auto; */
  width: clamp(10px, 22vw, 800px);
  height: auto;
}

#menu > .logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  width: clamp(150px, 20vw, 400px);
}